body {

}
h1 {
  font-size: 50px;
  font-family: Arial, Verdana;
  text-align: center;
  margin-bottom: 2px;
  color: rgb(80,80,80);
}
h2 {
  font-size: 30px;
  font-family: Arial, Verdana;
  text-align: center;
  margin-bottom: 2px;
  color: rgb(80,80,80);
}
p {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  background-color: #3A5B94;
  color: white;
}

img {
  align-content: center;
}

.center {
  text-align: center;
  font-size: 15px;
}

.mappingOf {
  padding-top: 100px;
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
}

.item1 {
  grid-column: 1 / span 6;
  grid-row: 1 / span 20;
  place-self: center;
}

.item2 {
  grid-column: 7 / span 6;
  grid-row: 1 / span 20;
  margin-top: 20px;
  place-self: center;
}

.item3 {
  grid-column: 1 / span 4;
  grid-row: 20 / span 20;
  margin-top: 20px;
  align-self: center;
}

.item4 {
  grid-column: 4 / span 8;
  grid-row: 20 / span 20;
  margin-top: 20px;
  align-self: center;
}


.ownrow {

  grid-column: 1 / span 13;
  place-self: center;
}


#mapId {
  height: 500px;
  margin: auto;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}